@import "bootstrap/mixins"


.route-lists-container
  margin-top: 1em
  margin-left: 1em

  .route-title
    padding: 1em 0
    .name
      font-size: 1.3em
      font-weight: bold

  .route-directions-container
    float: left
    width: 300px
    margin-right: 20px

    .route-direction-header
      .route-direction-title
        padding: 8px
        font-weight: bold
      .add-stop-icon
        font-size: 18px
        cursor: pointer
        &:hover
          text-shadow: 0px 0px 6px #807d03
      .add-stop-container
        width: 100%
        padding: 4px 6px
        .add-stop-form
          .route-search-input
            width: 220px
          .search-results-container
            position: relative
            .results-list
              position: absolute



    ul.route-stops-list
      list-style-type: none

      li.route-stop-list-item
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        margin: 8px
        padding: 3px
        @include box-shadow(1px 1px 3px #ececec)
        @include border-radius(4px)
        .route-stop-list-item-container
          position: relative
          height: 40px

          .visible-on-hover
            display: none
            position: absolute
          &.mouseover
            .visible-on-hover
              display: block

          .bullet
            display: block
            position: absolute
            top: 0px
            left: 0
            width: 20px
            height: 40px
            cursor: move
          .name
            display: block
            position: absolute
            top: 0
            left: 26px
            width: 190px
            padding: 1px
            font-weight: bold
            border: 1px solid transparent
            background-color: transparent
            &:hover
              border: 1px solid #cccccc
              background-color: rgba(255,255,255, 0.1)
            &:focus
              border: 1px solid #cccccc
              background-color: #ffffff
          .eid
            display: block
            position: absolute
            bottom: 0
            left: 26px
            font-size: 10px
          .remove
            top: -2px
            right: -2px
            color: #666666
            font-size: 12px
            cursor: pointer
            &:hover
              text-shadow: 1px 1px 2px #aaaaaa
          .map-marker
            bottom: 0px
            right: -4px
            color: #666666
            font-size: 16px
            cursor: pointer
            &.missing
              display: block
              color: red
            &.selected
              display: block
              color: #222222
              text-shadow: 0px 0px 6px #000000

        &:hover
          @include box-shadow(1px 1px 5px 2px #ececec)


    &.direction0
      .route-direction-title
        background-color: #bcdb8c
      ul.route-stops-list
        border: 1px solid #bcdb8c
        li.route-stop-list-item
          border: 1px solid #bcdb8c
          background-color: #f4fbeb

    &.direction1
      .route-direction-title
        background-color: #bae5f8
      ul.route-stops-list
        border: 1px solid #bae5f8
        li.route-stop-list-item
          border: 1px solid #bae5f8
          background-color: #ebf8ff


  .route-map-container
    .map
      width: 600px
      height: 600px

