<%- content_for :before_javascripts do %>
  <script type="text/javascript">


  </script>
<%- end %>

<div ng-controller="RouteEditCtrl">

<h3>Route {{route.name}} (#{{route.eid}})</h3>
<hr />


</div>

