<a href="<%= manage_routes_path %>" class="btn btn-info">&lt; Back to list</a>


<div class="route-container" ng-controller="RouteEditCtrl">
  <div class="route-title">
    <span class="name">Route {{route.vehicle_type_name}} {{route.name}} (#{{route.eid}})</span>
    <button ng-click="saveRouteData()" ng-disabled="saveBtnLabel != 'Save'">{{saveBtnLabel}}</button>
  </div>


  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>Drag ord</th>
      <th>Nume scurt</th>
      <th>Nume lung</th>
      <th>ID</th>
    </tr>
    </thead>

    <tbody ui-sortable="{update: onListReordered()}" ng-model="route.stops" class="order-list">

    <tr ng-repeat="routeStop in route.stops" class="list-item">
      <td><i class="icon-reorder"></i> {{routeStop.direction}}</td>
      <td><input type="text" size="30" ng-required ng-model="routeStop.stop.name" /></td>
      <td><span>{{routeStop.stop.long_name}}</span></td>
      <td>{{routeStop.stop.eid}} : {{routeStop.stop.ename}}</td>
    </tr>

    </tbody>
  </table>

</div>
