<% content_for :before_stylesheets do %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<% end %>

<a href="<%= manage_routes_path %>" class="btn btn-info">&lt; Back to list</a>


<div class="route-lists-container ng-cloak" ng-controller="RouteEditCtrl">

  <div class="route-title">
    <span class="name">Traseu {{route.vehicle_type_name}} {{route.name}} (#{{route.eid}})</span>
    &nbsp; &nbsp; &nbsp;
    <button ng-click="onClickSaveRouteData()" ng-disabled="saveBtnLabel != 'Save'" class="btn" ng-class="'btn-' + saveStatus">{{saveBtnLabel}}</button>
  </div>


  <div ng-repeat="direction in route.directions" class="route-directions-container" ng-class="'direction{{$index}}'">
    <div class="route-direction-header">
      <div class="route-direction-title"><i class="icon-angle-right"></i> {{direction.name}} ({{direction.stops.length}} statii)
        <i class="add-stop-icon pull-right icon-plus-sign" ng-click="onAddStopClicked(direction)" title="Adauga statie" tooltip="Adauga statie" tooltip-placement="left"></i>
      </div>
      <div class="add-stop-container" ng-show="addStopToDirection == direction">
        <form class="add-stop-form form-inline" ng-show="allStops != null" ng-submit="onSubmitAddStopForm(selectedNewStop)">
          <i class="icon-search"></i> <input type="text" ng-model="selectedNewStop"
                                             typeahead="s as s.name + ' ('+ s.ename +')' for s in allStops | filter:$viewValue | limitTo:20" class="route-search-input" />
        </form>
        <div ng-hide="allStops != null">Se incarca statiile ...</div>
      </div>
    </div>
    <ul ui-multi-sortable ui-options="sortableOptions" ng-model="route" model-subset="directions[{{$index}}].stops" class="route-stops-list unstyled">
      <li ng-repeat="stop in direction.stops" class="route-stop-list-item">
        <tut-route-list-item stop="stop"></tut-route-list-item>
      </li>
    </ul>
  </div>


  <div class="route-map-container">
    <tut-route-edit-map center="mapData.center" zoom="mapData.zoom" stops="mapData.stops"></tut-route-edit-map>
  </div>




  <div style="position: absolute; display:block; top: 2px; right: 2px; z-index: 99999; border: 1px solid orange; background-color: #fbfbeb">
    <label class="pull-right">Show model: <input type="checkbox" ng-model="debug_showModel"></label>
    <pre ng-bind="route | json" ng-show="debug_showModel"></pre>
  </div>

</div>
